*{
    margin: 0%;
    padding:0%;
    
}
body{

    font-family: Arial, sans-serif;
    height: 2000px;
     
  
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header{
   
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.continer{
  
    display: flex;
    align-items: center;
    justify-content: space-between;

 background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
      
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      transparent: true;
      transition: padding 0.3s ease, margin 0.3s ease;
    padding: 1rem 3rem;
    margin: 0rem 0rem;
   
}
.continer.small{
    padding: 0.1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    .continer-midle{
        padding: 1px 10px; 
        margin-left:20px ; 
        box-shadow: #e0e0e0;
    }
    img{
        width: 120px;
    }
    .becomehoset {
        display: none;
    }
   
}
img{
        width: 150px;
    }

.mob-gojo{
    display: none;
}
.continer-midle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid rgb(0, 0, 0);
    padding: 8px 18px;
    border-radius: 30px;
   box-shadow: 7px 8px 23px 6px rgba(0,0,0,0.75);
    cursor: pointer;
   transition: all 0.3s ease;
}
    .continer-midle p:hover {
    background-color: #3d98ff;
    border-radius: 50px;
    padding: 8px;
}
.continer-midle div{
    font-size: 14px;
    font-weight: 600;
}
.pipe{
    width: 1px;
    height: 25px;
    background-color: gray;
    opacity: .2;
   
}
 .icon{
        height: 32px;
            width: 32px;
        background-color:rgb(88, 146, 255);  
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;}
.continer-midle .line{
    height: 40px;
    margin: 0px 100px;
}
/*
.filter{
    display: flex;
    gap: 9px;
    border: 1px solid black ;
    padding: 5px 8px;
    border-radius: 20px;
      box-shadow: 8px 1px 0px 2px rgba(0, 0, 0, 0.1)  ;


    cursor: pointer;
    margin-left: -150px;
}
.filter p{
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}*/
.side-nav{
    display: flex;
    align-items: center;
    
    gap: 20px;
    
    
}
.becomehoset p{
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
  
}
.continer-icon{
    width: 40px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    trabsition: all 0.3s ease;
    

}
.continer-icon:hover{
    background-color:#3d98ff;
}
.becomehoset{
   width: 120px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    trabsition: all 0.3s ease;
}
.becomehoset:hover{
    background-color:#3d98ff;
}
.ai{
    width: 40px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    trabsition: all 0.3s ease;
}
.ai:hover{
    background-color:#3d98ff;}
.continer-icon:hover{
    background-color:#3d98ff;
}

.fa-magnifying-glass:hover{
    color: white;
}
.moble-nav {
  display: none; 
  width: 100%;
  color: #6a6a6a;
  padding: .5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
   background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
      
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      transparent: true;
}


.continer-moble {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1rem;
  width: 85%;
  border-radius: 35px;
  margin: 0.8rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.continer-moble i {
  color: #000000;
  font-size: 16px;
}

.moble {
  color: #6a6a6a;
  font-size: 14px;
  margin: 0;
}


.navb {
  display: flex;
  justify-content: center;
  
}

.navb ul {
  display: flex;
  gap: 70px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.navb a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
 
}
.side-fiexd{
    position: fixed;
    padding: 2rem 2rem;
    top: 35%;
    width: 150px;
    right: 0;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
      
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
      
      transparent: true;
      transition: all 0.3 ease;
    
    line-height: 1.5rem;
    margin: 10px;
    
    border-radius: 8px  8px;
    z-index: 1000;
   pointer-events: none;
   display: none;
}
.side-fiexd-open {
  display: flex ;
  pointer-events: auto;
}


.side-fiexd li:hover{
    background-color: #3d98ff;
    border-radius: 15px;
    width: 100%;
    
}
.side-fiexd ul{
    display: flex;
    flex-direction: column;
}
span{
    font-size: 12px;
    color: #777777;
    font-weight: 400;
}
.side-fiexd a{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}
.divider{
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    margin: 10px auto;
}
.continer-des{
    margin:10rem 0rem;
    width: 100%;
    padding: 0rem 5rem;

}
.dest-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0rem;
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 250px;
  flex: 0 0 auto; 
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-text {
  padding: 15px;
  font-size: 14px;
    font-weight: 600;
}

.dest-cards{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}




@media screen and (max-width: 1024px) {
    header {
  height: auto;
} 
    .continer{
        padding: .5rem 1rem;
    }
    img{
        width: 120px;
    }
    .continer-midle .line{
        margin: 0px 50px;
    }
.becomehoset{
    display: none;
}
    .gojo1{
        display: none;
    }
    .mob-gojo{
        display: block;
        width: 75px;
    }
    .filter{
        margin-left: 0px;
    }
}
@media screen and (max-width: 767px) {
    header {
        display: none;
    }
    .moble-nav{
        display: block;
    }
    
  
}